a {
  text-decoration: none;
}

span[data-ornament="ufinish"] {
  color: #e3120b;
}

img { 
  max-width: 70%; 
}

.calibre_navbar {
  display: none;
}

body {
  line-height: 1.3;
}

h2:not(.calibre_feed_title) {
  font-size: 16px;
	margin-left: 0.5em;
  border-left: 2px solid #333;
  padding-left: 10px;
  color: #555;
	font-style: italic;
}