a {
  text-decoration: none;
}

img {
  max-width: 70%;
  display: block;
  margin: auto;
}

[class^="calibre_navbar"] {
  font-size: 15px;
  text-align: center;
}

[class^="calibre"] h1 {
  font-size: 20px;
}

body {
  line-height: 1.3;
}
